{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "overrides": [
    {
      "files": "client/**/*.{ts,tsx}",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "semi": false
      }
    },
    {
      "files": "server/**/*.ts",
      "options": {
        "useTabs": true,
        "semi": true
      }
    },
    {
      "files": "shared/**/*.ts",
      "options": {
        "useTabs": true,
        "semi": true
      }
    },
    {
      "files": "agent-node/**/*.ts",
      "options": {
        "useTabs": true,
        "semi": true
      }
    }
  ]
}
